<!----------
    Insert html metadata here without surrounding `<head>...</head>` tags.
----------->
        <title>{{ site.name }}</title>
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet">
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
        <link href="./assets/css/custom.css" rel="stylesheet" />

