<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
  </head>

  <body>
    <div id="container">
      <div class="inner">

        <header>
          {% include header.html %}
        </header>

        <section id="main_content">
            {{ content }}
        </section>

        <footer>
          {% include footer.html %}
        </footer>

      </div>
    </div>
  </body>

<script src="//code.jquery.com/jquery-2.1.0.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="./assets/js/flowtype.js"></script>
<script src="./assets/js/fit.min.js"></script>
<script src="./assets/js/custom.js"></script>

<script>
    {% include analytics.html %}
</script>

</html>
